
.nav-item
{
    padding: 0 10px;
}
.container-fluid
{
    padding-left: 10px;
}
.navbar
{
    padding-left: 10vh;
}


body{
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    color: white;
}
#logo{
    margin-left: 34px;
    margin-right: 0;
    margin-top: 10vh;
    text-align: center;
}
.content
{
    margin-left: 5vh;
    color: aliceblue;
}
#logo
{
    color: beige;
}